{%  extends "base.html.twig" %}

{% block title %}Accueil de TaskKiller {% endblock %}

{% block body %}
    <h1>Bienvenue sur mon application TaskKiller</h1>
    
    <img src="{{ asset('assets/img/Naples-et-le-Vesuve.jpg') }}" alt="App">
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur corporis cupiditate
        delectus dolor, eligendi eos et explicabo facere fuga illum incidunt ipsam, maiores minima,
        possimus quas quisquam quo velit?</p>
{% endblock %}


